<h1>新しいタスクを作成</h1>

<%= form_with model: @task, local: true do |form| %>
  <div>
    <%= form.label :title, 'タスク名' %>
    <%= form.text_field :title %>
  </div>

 <div>
  <%= form.label :category_id, 'カテゴリ' %>
  <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: '選択してください' } %>
</div>


  <div>
    <%= form.label :description, '詳細' %>
    <%= form.text_area :description %>
  </div>
  
  <div>
    <%= form.label :deadline, '期限'%>
    <%= form.date_field :deadline %>
  </div>
  
  <div>
    <%= form.label :priority,  '優先度'%>
    <%= form.select :priority, [['低', 0], ['中', 1], ['高', 2]] %>
  </div>

  <div>
    <%= form.submit '作成' %>
  </div>
<% end %>

<%= link_to 'タスク一覧に戻る', tasks_path %>
